html, body {
	font-family: "Circular Std", sans-serif;
	overflow-x: hidden;
}

header {
	background-color: transparent;
	background-image: url("../images/header_background.jpg");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.skip-main {
	left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

.skip-main:focus {
	left: auto;
  	top: auto;
  	width: initial;
  	height: initial;
  	overflow: auto;
  	z-index: 999;
}

.applePodcast{
	width: 15px;
	margin-top: -4px;
}

.davys{
	background-color: #5680E9;
}

.sticky-top a i {
	color: #8860D0;
}

.yellow{
	background-color: #FFD500;
}

.lightBlue {
	background-color: #C1C8E4;
}

.lightGrey {
	background-color: whitesmoke;
}

.grey{
	background-color: lightgrey;
}

.card .card-header {
	background-color: #5680E9;
	color: white;
}

button.btn {
	background-color: #5680E9;
	color: white;
	border: none;
}

.card-footer button.btn:hover {
	background-color: #5AB9EA;
}

.nav-item a{
	color: black;
}
.nav-item a {
text-decoration: none;
position: relative;
display: block;
}

.nav-item a::before {
content: '';
display: block;
position: absolute;
bottom: 3px;
left: 0;
height: 3px;
width: 100%;
background-color: black;
transform-origin: right top;
transform: scale(0, 1);
}

.nav-item a:hover::before, a:focus::before {
transform-origin: left top;
transform: scale(1, 1);
}

.home2 {
    background-image: url("../images/madrid_home.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.home2 {
	padding-top: 19.5rem;
}

.no-decorator {
	text-decoration: none;
}

.responsive-alignment a {
	color: black;
}

.card:hover {
	border: solid #575652 5px;
}
.gallery-item-horizontal, .gallery-item-vertical {
	border-radius: 1em;
}

.gallery-item-horizontal {
	height: 11.5rem;
}

.gallery-item-vertical {
	height: 24rem;
}

.tour-child-horizontal, .tour-child-vertical {
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 1em;
	transition: all 0.3s ease-in-out;
}

.tour-child-vertical {
	background-size: 425%;
}

.tour-child-horizontal {
	background-size: 100%;
}

.tour-child-horizontal:hover, .tour-child-horizontal:focus {
	background-size: 120%;
}

.tour-child-vertical:hover, .tour-child-vertical:focus{
	background-size: 450%;
}

.tour-child-horizontal:hover::before, .tour-child-horizontal:focus::before {
	display: block;
	position: relative;
	color: white;
	border-radius: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	line-height: 11.5rem;
	background-color: rgba(0,0,0, 0.5);
}

.tour-child-vertical:hover::before, .tour-child-vertical:focus::before {
	display: block;
	position: relative;
	color: white;
	border-radius: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	line-height: 23rem;
	background-color: rgba(0,0,0, 0.5);
}

#alicante-tour {
	background-image: url("../images/Alicante1.jpg");
}

#alicante-tour:hover::before {
	content: "Alicante Tour";
}

#barcelona-tour {
	background-image: url("../images/ronda.jpg");
}

#barcelona-tour:hover::before {
	content: "Ronda & Granade Tour";
}

#benidorm-tour {
	background-image: url("../images/Benidorm.jpg");
}

#benidorm-tour:hover::before {
	content: "Benidorm Tour";
}

#bilbao-sebastian-tour {
	background-image: url("../images/Bilbao&SanSebastian.jpg");
}

#bilbao-sebastian-tour:hover::before {
	content: "Bilbao & San Sebastian Tour";
}

#baqueira-tour {
	background-image: url("../images/Baqueira.jpg");
}

#baqueira-tour:hover::before {
	content: "Baqueria Tour";
}

#burgos-valladolid-tour {
	background-image: url("../images/burgos.jpg");
}

#burgos-valladolid-tour:hover::before {
	content: "Burgos & Valladolid Tour";
}

#canary-winter-tour {
	background-image: url("../images/WinterCanary.jpg");
}

#canary-winter-tour:hover::before {
	content: "Canary Island Winter Tour";
}

#canary-tour {
	background-image: url("../images/CanaryIslands.jpg");
}

#canary-tour:hover::before {
	content: "Canary Island Tour";
}

#classic-barcelona-tour {
	background-image: url("../images/Barcelona1.jpg");
}

#classic-barcelona-tour:hover::before {
	content: "Classic & Modern Barcelona Tour";
}

#denia-xavia-tour {
	background-image: url("../images/DeniaXavia&AlteaSegovia.jpg");
}

#denia-xavia-tour:hover::before {
	content: "Denia, Xavia & Altea Segovia Tour";
}

#girona-tour {
	background-image: url("../images/GironaCatleTour(GOT).jpg");
}

#girona-tour:hover::before {
	content: "Girona Castle Tour";
}

#historic-madrid-tour {
	background-image: url("../images/MadridHistoric.jpg");
}

#historic-madrid-tour:hover::before {
	content: "Historic Madrid Tour";
}

#ibiza-tour {
	background-image: url("../images/Ibiza.jpg");
}

#ibiza-tour:hover::before {
	content: "Ibiza Party Tour";
}

#leon-tour {
	background-image: url("../images/Leon.jpg");
}

#leon-tour:hover::before {
	content: "Leoun Tour";
}

#sevilla-tour {
	background-image: url("../images/Sevilla.jpg");
}

#sevilla-tour:hover::before {
	content: "Sevilla Tour";
}

#malaga-puerto-tour {
	background-image: url("../images/PuertoBanus.jpg");
}

#malaga-puerto-tour:hover::before {
	content: "Malaga & Puerto Va'nus Tour";
}

#mallorea-tour {
	background-image: url("../images/Malaga.jpg");
}

#mallorea-tour:hover::before {
	content: "Mallorea Island Tour";
}

#marbella-tour {
	background-image: url("../images/Marbella.jpg");
}

#marbella-tour:hover::before {
	content: "Marbella Tour";
}

#valencia-tour {
	background-image: url("../images/Valencia.jpg");
}

#valencia-tour:hover::before {
	content: "Valencia Tour";
}

@media screen and (max-width: 768px) {
	.responsive-alignment {
		text-align: center;
	}

	.gallery-item-vertical {
		height: 11.5rem;
	}
	
	.tour-child-vertical:hover::before, .tour-child-vertical:focus::before {
		line-height: 11.5rem;
	}	
	
	.home3 img {
		width: 100%;
	}
	
}
